body {
  font-family: 'Slabo 27px', serif !important;
  font-family: 'Sawarabi Mincho', sans-serif !important; }

.wrapp {
  background: -webkit-radial-gradient(50% 50%, ellipse closest-side, #393e44, #36383b 25%, #343233);
  background: -o-radial-gradient(50% 50%, ellipse closest-side, #393e44, #36383b 25%, #343233);
  background: radial-gradient(ellipse closest-side at 50% 50%, #393e44, #36383b 25%, #343233); }

/* Banner Css */
.banner {
  padding: 90px; }
  .banner p {
    color: #eed9b7;
    text-align: center;
    margin-top: 30px; }
  .banner span {
    text-align: center;
    color: #8d8273;
    padding: 14px; }
  .banner a {
    color: #eed9b7; }
    .banner a:hover {
      color: #ebac00; }
  .banner ul li {
    padding: 28px;
    border: 1px solid #676464;
    color: #eed9b7;
    list-style-type: none;
    font-size: 19px;
    border-radius: 2px;
    min-height: 80px; }
  .banner ul span {
    font-size: 10px; }

.flex-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

/* Section2 */
.section2 {
  padding: 20px;
  margin-right: 0px !important; }
  .section2 h2 {
    text-align: center;
    color: #eed9b7;
    font-size: 35px; }
    .section2 h2 span {
      color: #78b0a0; }
  .section2 ul li {
    float: left;
    color: #ffd152;
    padding: 9px !important;
    border: 1px solid #6764;
    margin-left: 65px;
    margin-top: 5px;
    font-size: 15px !important;
    list-style-type: none; }
    .section2 ul li a {
      color: #ffd152; }
      .section2 ul li a:hover {
        color: #ebac00;
        text-decoration: none; }

/*section3*/
.section3 {
  margin-top: 100px;
  margin-right: 0px !important;
  background-image: url("../img/img.svg");
  padding: 50px;
  background-repeat: no-repeat;
  background-position: calc(50% + 1000px) center; }
  .section3 .img {
    width: 100%;
    overflow: hidden;
    -webkit-filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg) saturate(3.5);
    filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg) saturate(3.5); }
  .section3 h2 {
    color: #eed9b7;
    font-size: 33px; }
  .section3 p {
    color: #eed9b7;
    margin-top: 20px;
    padding: 12px;
    text-align: justify;
    font-size: 15px; }
    .section3 p a {
      color: #ffd152; }
      .section3 p a:hover {
        color: #ebac00;
        text-decoration: none; }

.footer {
  padding: 10px !important;
  margin-left: 140px !important;
  margin-right: 140px !important; }
  .footer h2 {
    color: #eed9b7;
    margin-bottom: 50px; }
  .footer label {
    color: #eed9b7;
    padding: 24px;
    font-size: 18px;
    padding-bottom: 5px; }
  .footer p {
    color: #eed9b7;
    padding: 66px;
    padding-top: 0px; }
  .footer .fa {
    font-size: 35px; }

@media only screen and (max-width: 600px) {
  .footer {
    margin-left: 10px !important;
    margin-right: 10px !important; } }

.footer-bottom {
  background-color: #efeae1;
  padding: 15px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-right: 0px !important; }
  @media only screen and (max-width: 600px) {
    .footer-bottom .footer-bottom {
      padding-left: 15px !important;
      padding-right: 25px !important; } }
  .footer-bottom ul {
    float: left; }
    .footer-bottom ul li {
      float: left;
      list-style-type: none; }
      .footer-bottom ul li a {
        color: #574c4f;
        text-decoration: none;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px; }
  .footer-bottom .footer-div-right {
    float: right; }
