// $background: radial-gradient(ellipse closest-side at 50% 50%, #393e44, #36383b 25%, #343233);
$background: white;
$color:black;
$color1:#8d8273;
$color2: black;
$hover:#18a4b5;
svg {
	height: 312px;
	width: 272px;
    padding: 50px;
    margin-top: -60px;
}
body {
    font-family: 'Slabo 27px', serif !important;
    font-family: 'Sawarabi Mincho', sans-serif !important;
}
.wrapp
{
    background: $background;
}
/* Banner Css */
.banner {    
    padding: 90px;
    p {
        color: $color;
        text-align: center;       
        font-size: 17px;
    }
    .heading2{
        margin-top: 64px;
        margin-left: -157px;
        color: #1cacbd;
        font-size:55px;
    }
    span {
        text-align: center;
        color: $color1;
        padding: 14px;
    }
    a {
        color: $color;
        &:hover {
            color: $hover;
        }
    }
    ul {
        li {
            padding: 28px;
            border: 2px solid black;
            color: $color;
            list-style-type: none;
            font-size: 19px;
            border-radius: 2px;
            min-height: 80px;          
        }
        span {
            font-size: 10px;
        }
    }
}
.flex-div {
    display: flex;
    text-align: center;
}
/* Section2 */
.section2 {
    padding: 20px;
    margin-top:-100px;    
    margin-right: 0px !important;
    h2 {
        text-align: center;
        color: $color;
        font-size: 35px;
        span {
            color:#1cacbd;
        }
    }
    ul {
        li {
            float: left;
            color: $color2;
            padding: 9px !important;
            border: 1px solid #31d4e8;
            margin-left: 115px;
            margin-top:5px;
            font-size: 15px !important;
            list-style-type: none;
            a {
                color: $color2;           
                font-weight: bold;    
                &:hover {
                    color: $hover;
                    text-decoration: none;
                }
        }
    }
    }
}

/*section3*/
.section3
{
    margin-top:100px;
    margin-right: 0px!important;
    background-image: url("../img/img.svg");
    padding:50px;   
    background-repeat: no-repeat;
    background-position: calc(50% + 1000px) center;
    .img{
        width:100%;        
        overflow:hidden;
        filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg) saturate(3.5);
    }
    h2{
        color:$color;
        font-size: 33px;
    }
    p{
        color: $color;
        margin-top:20px;
        padding: 12px;
        text-align: justify;
        font-size: 15px;
        a {
            color: $color2;               
            &:hover {
                color: $hover;
                text-decoration: none;
            }
    }
}
}
.footer{

    padding:10px!important;    
    margin-left:140px!important;
    margin-right:140px!important;
   h2 {
color: $color;    
margin-bottom: 50px;

    }
    label{
        color:$color1;    
    padding: 24px;
    font-size: 18px;
    padding-bottom: 5px;
            }
    p{
        color:$color1;       
        padding: 66px;
        padding-top: 0px;
            }
            .fa
            {
                font-size: 35px;
            }    
    }
     
    @media only screen and (max-width: 600px) {
        .footer {
    margin-left: 10px!important;
    margin-right: 10px!important;
        }
    }
    .footer-bottom
    {
        background-color: #31d4e8;
        padding: 15px;
        padding-left: 20px!important;
        padding-right: 20px!important;
        margin-right: 0px!important;
        @media only screen and (max-width: 600px) {
            .footer-bottom {
                padding-left: 15px!important;
                padding-right: 25px!important;
            }
        }
        ul{
            float: left;
            li{
                float:left;
                list-style-type: none;
                a{
                    color:#574c4f;
                    text-decoration: none;
                    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
                }
            }
        }
        .footer-div-right
        {
float: right;
        }
    }

