.left-sidebar {
    box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.17);
}
@media only screen and (max-width: 800px) {
    .left-sidebar {
        margin-top: 30px;
    }
}



.lis-relative {
    position: relative;
}
.lis-left-0 {
    left: 0 !important;
}
.lis-primary {
    color: #19b5fe !important;
}
.custom-control {
    margin-right: .4rem;
}
.custom-checkbox {    
    line-height: 20px;
    cursor: pointer;   
    user-select: none;
}
.custom-checkbox input {
    position: absolute;
    opacity: 0;
}
.custom-checkbox .custom-control-indicator {
    width: 20px;
    height: 20px;
   /* background-color: transparent;*/
}
.custom-control-indicator {
    border: solid 2px #dadada;
}
.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #19b5fe;
    border-color: #19b5fe;
}
.social{
    background: white;
    box-shadow: 2px 1px 10px 2px #b3b3a0;
    margin-top: 0px;
    width: 70px;
    padding: 3px;
    
}
.fb{    font-size: 25px;
    padding: 4px;
    color: #00bcd4;}
.whatsup{
    font-size: 25px;
    padding: 4px;
    color: #0dc10d;
    float: right;
}
.serch{}
#showresults{background-color: white!important;}
#col{margin-top: 40px;}

@media only screen and (max-width: 900px) {
    .serch {
        margin-left: -173px!important;
    margin-top: 40px!important;
    }
}
