<li class="nav-item">
    <a class="nav-link rounded-0 disabled text-left text-info" style="background-color: rgba(200, 200, 200, 0.2)"
        data-toggle="tab">
        Add
    </a>
</li>
<li class="nav-item">
    <a class="nav-link rounded-0 text-left" href="#tab6" data-toggle="tab">Tuition</a>
</li>
<li class="nav-item">
    <a class="nav-link rounded-0 text-left" href="#tab7" data-toggle="tab">School</a>
</li>
<li class="nav-item">
    <a class="nav-link rounded-0 text-left" href="#tab8" data-toggle="tab">Event</a>
</li>