<li class="nav-item">
    <a class="nav-link rounded-0 disabled text-left text-info" style="background-color: rgba(200, 200, 200, 0.2)"
        data-toggle="tab">
        Add
    </a>
</li>
<li class="nav-item">
    <a class="nav-link rounded-0 text-left" href="/Dashboard-Pro.html?tab=addTuition">Tuition</a>
</li>
<li class="nav-item">
    <a class="nav-link rounded-0 text-left" href="/Dashboard-Pro.html?tab=addSchool">School</a>
</li>
<li class="nav-item">
    <a class="nav-link rounded-0 text-left" href="/Dashboard-Pro.html?tab=addEvent">Event</a>
</li>