{{#each batches as |batch|}}
<input name="batches" type="checkbox" value="{{batch._id}}">
<input name="courses" type="hidden" value="{{batch.courseId}}">
<input name="tuitions" type="hidden" value="{{batch.tuitionId}}">
<span class="media-heading">{{batch.code}}
    <span class="form-check-sign">
        <span class="check"></span>
    </span>
</span><br>
{{/each}}