{{#each batches as |batch|}}
<input class="batches" name="batches" type="checkbox" value="{{batch._id}}" data-course-id="{{batch.courseId}}" data-tuition-id="{{batch.tuitionId}}">
<span class="media-heading">{{batch.code}}
    <span class="form-check-sign">
        <span class="check"></span>
    </span>
</span><br>
{{/each}}