{{#each batches as |batch|}}
<div class="col-md-2">
    <div class="form-check">
        <label class="form-check-label text-uppercase">
            <input class="form-check-input finance-batches" type="checkbox" value="{{batch._id}}" data-course-id="{{batch.courseId}}"
                data-tuition-id="{{batch.tuitionId}}" {{#if batch.isChecked}}checked{{/if}}>
            {{batch.code}}
            <span class="form-check-sign">
                <span class="check"></span>
            </span>
        </label>
    </div>
</div>
{{/each}}