<a class="list-group-item list-group-item-action row" href="ad-stats.html">
    <b class="list-group-item-heading col-4">{{name}}</b>
    <b class="list-group-item-text col-4">{{address}}</b>
    <b class="list-group-item-text col-3">Ads activated at {{numberOfAds}} places</b>
</a>