<div class="col-md-4 form-group">
    <label class="bmd-label-floating">Name Of Mode</label>
    <input type="text" class="form-control" data-tuition-id="{{_id}}">
</div>
<div class="col-md-4 form-group">
    <label class="bmd-label-floating">Transaction Id</label>
    <input type="text" class="form-control" data-tuition-id="{{_id}}">
</div>