<div class="col-md-4 form-group">
    <label class="bmd-label-floating">Bank Name</label>
    <input name="bank" type="text" class="form-control" data-tuition-id="{{_id}}">
</div>
<div class="col-md-4 form-group">
    <label class="bmd-label-floating">Card Number</label>
    <input name="cardNumber" type="text" class="form-control" data-tuition-id="{{_id}}">
</div>
<div class="col-md-4 form-group">
    <label class="bmd-label-floating">Transaction Id</label>
    <input name="transactionId" type="text" class="form-control" data-tuition-id="{{_id}}">
</div>