{{#if col4}}
<div class="col-4">
    {{/if}}
    <div class="card text-center">
        <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
    {{#if col4}}
</div>
{{/if}}