<div class="form-check form-check-inline">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="tags" value="{{name}}" checked>
        {{name}}
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>
</div>