{{#each students}}
<input name="students" type="checkbox" value="{{_id}}">
<span class="media-heading">{{name}}
    <span class="form-check-sign">
        <span class="check"></span>
    </span>
</span><br>
{{/each}}