<div class="form-group">
    <label for="facebookLink" class="">Facebook</label>
    <input class="form-control" value="{{fbLink}}" id="facebookLink"
           name="fbLink">
</div>
<div class="form-group">
    <label for="instaLink">Instagram</label>
    <input class="form-control" value="{{instaLink}}" id="instaLink"
           name="instaLink">
</div>
<div class="form-group">
    <label for="youtubeLink">Youtube</label>
    <input class="form-control" value="{{youtubeLink}}" id="youtubeLink"
           name="youtubeLink">
</div>