{{#if col4}}
<div class="col-4">
    {{/if}}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h4 class="media-heading">{{senderId}}<br>
                        <small>{{createdAt}}</small>
                    </h4>
                    <h6 class="text-muted"></h6>
                    <p>{{message}}</p>
                </div>
            </div>
        </div>
    </div>
    {{#if col4}}
</div>
{{/if}}