.groupchats {
    overflow-x: scroll;
    height: 200px; }

    .f-img
    {
        height:140px!important;
        width:140px!important;
    }
    .fn-img
    {
        height:30px!important;
        width:30px!important;
    }