.is-focused .form-control {
	background-image: linear-gradient(to top, #00bcd4 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

input.form-control {
	background-image: linear-gradient(to top, #00bcd4 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

textarea.form-control {
	background-image: linear-gradient(to top, #00bcd4 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.is-focused .bmd-label-static {
	color: #00bcd4
}

.sm-tab input[type="text"],
.sm-tab input[type="number"],
.sm-tab input[type="email"],
.sm-tab input[type="date"],
.sm-tab textarea,
.sm-tab select,
.sm-tab .dropdown-toggle {
	border: 0.5px solid #00bcd4
}

#addTuition input[type="text"],
#addTuition input[type="number"],
#addTuition input[type="email"],
#addTuition input[type="date"],
#addTuition textarea,
#addTuition select,
#addTuition .dropdown-toggle {
	border: 0.5px solid #00bcd4
}

#addSchool input[type="text"],
#addSchool input[type="number"],
#addSchool input[type="email"],
#addSchool input[type="date"],
#addSchool textarea,
#addSchool select,
#addSchool .dropdown-toggle {
	border: 0.5px solid #00bcd4
}

#addEvent input[type="text"],
#addEvent input[type="number"],
#addEvent input[type="email"],
#addEvent input[type="date"],
#addEvent textarea,
#addEvent select,
#addEvent .dropdown-toggle {
	border: 0.5px solid #00bcd4
}


.modal input[type="text"],
.modal input[type="number"],
.modal input[type="email"],
.modal input[type="date"],
.modal textarea,
.modal .dropdown-toggle {
	border: 0.5px solid #00bcd4
}


#edit_tuition_body input[type="text"],
#edit_tuition_body input[type="number"],
#edit_tuition_body input[type="email"],
#edit_tuition_body input[type="date"],
#edit_tuition_body textarea,
#edit_tuition_body .dropdown-toggle {
	border: 0.5px solid #00bcd4
}

#edit_school_body input[type="text"],
#edit_school_body input[type="number"],
#edit_school_body input[type="email"],
#edit_school_body input[type="date"],
#edit_school_body textarea,
edit_school_body .dropdown-toggle {
	border: 0.5px solid #00bcd4
}

#edit_event_body input[type="text"],
#edit_event_body input[type="number"],
#edit_event_body input[type="email"],
#edit_event_body input[type="date"],
#edit_event_body input[type="time"],
#edit_event_body textarea,
#edit_event_body select,
#edit_event_body .dropdown-toggle {
	border: 0.5px solid #00bcd4
}


.card-title.bg-info {
	background-color: #00bcd44d !important;
}